.counter{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.teal{
    color: teal;
    padding: 1px;
    border-radius: 5px;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    scroll-behavior: smooth;
}

#chart{
    max-width: 100%;
}

@keyframes trip{
    from { stroke-dasharray: 10px 3.0px;}
	to { stroke-dasharray: 10px 5px;}
}

.ct-series-a .ct-line {
    stroke: red;
    stroke-width: 2px;
    stroke-dasharray: 0px 0px;
    animation: trip 2s infinite;
  }
  
.ct-series-a .ct-point {
    stroke: red;
    stroke-width: 7px;
    stroke-linecap: round;
  }